body {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-family: "Roboto","Arial","sans-serif";
  font-weight: "Regular";
}

.hide-h1 h1 {
  display: none;
}

.catalog-caption h1 {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
font-family: "Roboto","Arial","sans-serif";
  font-weight: "Medium";
}

.slide-slogan h2 {
  font-size: 55px;
  line-height:55px;
  color: #000000;
  font-family: "Roboto","Arial","sans-serif";
  font-weight: "Medium";
}

.index-content-left-title h2 {
  font-size: 45px;
  line-height:45px;
  color: #000000;
font-family: "Roboto","Arial","sans-serif";
  font-weight: "Medium";
}

.price-cursor h2{
  font-size: 18px;
  line-height:30px;
  color: #000000;
  font-family: "Roboto","Arial","sans-serif";
  font-weight: "Bold";
}

.sort-cursor h2 {
  font-size: 18px;
  line-height:18px;
  color: #000000;
font-family: "Roboto","Arial","sans-serif";
  font-weight: "Bold";
}
