body {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: "Roboto","Arial",sans-serif;
}

input {
  display: none;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  src: url("../fonts/Roboto-Bold.ttf");
}

.container {
  width: 1160px;
  padding: 20px;
  margin: 0 auto;
}

.header {
  background-color: #eeeeee;
  min-height: 300px;
}

.index-logo {
  float: left;
  width: 160px;
  height: 65px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 75px;
}

.header-navigation {
  float: left;
  width: 100%;
}

.header-navigation-list {
  list-style: none;
  float: left;
  width: 640px;
  margin-top: 83px;
  font-size: 0;
}

.header-navigation li {
  display: inline-block;
  margin-right: 45px;
  font-size: 15px;
}

.user-block {
  float: right;
  width: 120px;
  margin-top: 83px;
}

/*слайдер*/

.slider {
  margin-bottom: 80px;
}

.slide1-panel {
  display: none;
  background-image: url("../img/slide1.png");
  background-size: 698px 413px;
  background-repeat: no-repeat;
  position: relative;
  background-position: top 130px left 430px;
}

.slide1-description {
  float: left;
}

.slide1-slogan {
  width: 400px;
  height: 125px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.slide1-text {
  width: 360px;
  margin-bottom: 40px;
}

.slide1-btn {
  margin-bottom: 80px;
}

.slide2-panel {
  display: none;
  background-image: url("../img/slide2.png");
  background-size: 663px 430px;
  background-repeat: no-repeat;
  position: relative;
  background-position: top 115px left 490px;
}

.slide2-description {
  float: left;
}

.slide2-slogan {
  width: 535px;
  margin-bottom: 30px;
}

.slide2-text {
  margin-bottom: 40px;
  width: 430px;
  margin-bottom: 40px;
}

.slide3-panel {
  display: block;
  background-image: url("../img/slide3.png");
  background-size: 760px 410px;
  background-repeat: no-repeat;
  position: relative;
  background-position: top 175px left 400px;

}

.slide3-description {
  float: left;
}

.slide3-slogan {
  width: 430px;
  margin-bottom: 30px;
}

.slide3-text {
  width: 360px;
  margin-bottom: 40px;
}

.slide1-slogan,
.slide2-slogan,
.slide3-slogan {
 font-size: 55px;
 line-height:55px;
}

/*кнопки слайдера*/
.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
  margin: 0 3px;
  cursor: pointer;
  border: 4px solid white;
  background-color: #cccccc;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #666666;
}

#btn-1:checked ~ .slider-inner .slider-slides {
    display: block;
}

#btn-2:checked ~ .slider-inner .slider-slides {
    display: block;
}

#btn-3:checked ~ .slider-inner .slider-slides {
    display: block;
}

.hidden-title {
  width: 1px;
  height: 1px;
  position: absolute;
  right: 5000px;
}

.features-content-list {
  padding: 0;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 80px;
}

.features-content-item {
  float: left;
  width: 300px;
  margin-right: 100px;
}

.features-content-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 70px;
}

.index-content-about-us {
  float: left;
  width: 660px;
  height: 400px;
  margin-right: 140px;
}

.index-content-about-us-title {
  font-size: 45px;
  line-height:45px;
}

.index-content-statistic {
  float: right;
  width: 360px;
}

.index-content-statistic-image {
  margin-bottom: 35px;
}

.index-content-statistic-table-subtitle {
  margin-bottom: 50px;
}

.table-percent {
  font-size: 45px;
  line-height:45px;
  width: 110px;
  margin-bottom: 20px;
}

.logo-site-images {
  float: left;
  opacity: 0.3;
  border-top: 2px gray solid;
  border-bottom: 2px gray solid;
}

.logo-site-images-html-academy {
  margin-left: 30px;
  margin-right: 95px;
  padding-top: 60px;
}

.logo-site-images-barbershop {
  margin-right: 100px;
}

.logo-site-images-pink {
  margin-right: 120px;
}

.map-contacts {
  width: 100%;
}

.footer {
  margin-top: 41px;
}

.footer-social {
  float: left;
}

.footer-proposal {
  float: right;
}

/*страница catalog.html*/
.catalog-caption {
  font-size: 55px;
  line-height: 55px;
  font-weight: "Medium";
}

.price-cursor {
  font-size: 18px;
  line-height:30px;
  font-weight: "Bold";
}

.sort-cursor {
  font-size: 18px;
  line-height:18px;
  font-weight: "Bold";
}
