body {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: "Roboto","Arial",sans-serif;
}

/*страница index.html */
.slide-slogan {
  font-size: 55px;
  line-height:55px;
  font-weight: "Medium";
}

.hidden-title {
  display: none;
}

.index-content-about-us-title {
  font-size: 45px;
  line-height:45px;
  font-weight: "Medium";
}

/*страница catalog.html*/
.catalog-caption {
  font-size: 55px;
  line-height: 55px;
  font-weight: "Medium";
}

.price-cursor {
  font-size: 18px;
  line-height:30px;
  font-weight: "Bold";
}

.sort-cursor {
  font-size: 18px;
  line-height:18px;
  font-weight: "Bold";
}
